EXPO_PUBLIC_APP_SCHEME=authenticcdc
EXPO_PUBLIC_SUPABASE_URL=https://mgaenmoeyiovwykibemg.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_sZRuxlQXmiJh7DK2hQPOgA_sBx_cphx
EXPO_PUBLIC_IOS_BUNDLE_IDENTIFIER=com.richiewaweru.authenticcdc
EXPO_PUBLIC_ANDROID_PACKAGE=com.richiewaweru.authenticcdc
