EXPO_PUBLIC_APP_SCHEME=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_IOS_BUNDLE_IDENTIFIER=com.authenticcdc.app
EXPO_PUBLIC_ANDROID_PACKAGE=com.authenticcdc.app
EAS_PROJECT_ID=7139d805-d575-4749-b7ea-3130f07dfa27
